@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 800px;
    margin: auto;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #eeeeee;
    color: #0f141e;

}

.avatar {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 125px;
}

.info-text {
    font-style: italic;
    font-weight: bold;
}



.info,
.info-text,
.exp,
.hob {
    border: 1px;
    border-style: none;
    border-radius: 5px;
    border-color: blue;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    background: #e5ffe7;

    .info-text {
        background: #ffe5e5;
    }

    .info-text p {
        text-align: right;
    }
}

.info {
    margin-bottom: 20px;
    display: flex;

}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}

h1 {
    color: #dd4b25;
    font-style: normal;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-group {
    margin-right: 20px;
    width: 50%;
}


.form-row,
.form-group:last-child {
    margin-right: 0;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row,
    .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        padding-left: 10px;
        background-image: htt;
    }

    .btn {
        margin-left: 10px;
    }
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: 0;
    font-family: inherit;
}

.links {
    margin-bottom: 10px;

}

.card h1,
h2 {
    margin-bottom: 10px;
}

a {
    color: #000;
    text-decoration: none;
    display: block;
    text-align: center;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}

a:visited {
    color: grey;
}

a:active {
    color: blue;
}

.btn {
    background: lightcoral;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: .8;
    color: orangered;
}

.list {
    padding: 0 20px;
    list-style: none;
}

.list li {
    color: #86898f;
    margin-bottom: 5px;
}

.table {
    width: 100%;
    padding-left: 20px;
}

.table td {
    padding-bottom: 5px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}